@page
@model CadastroFilmes.UI.Pages.Filme.IndexModel
@{
    ViewData["Title"] = "Filmes";
}

<h1>@ViewData["Title"]</h1>

<p>Bem Vindo a lista de Filmes</p>
<a asp-page="NovoFilme" class="btn btn-primary">Novo Filme</a>
<a asp-page="AssociarRealizador" class="btn btn-success">Associar Realizador</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Duração em Minutos</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var filme in Model.Filmes)
        {
            <tr>
                <td>@filme.Id</td>
                <td>@filme.Title</td>
                <td>@filme.DurationsInMinute</td>
                <td>
                    <a asp-page="DetalheFilme" asp-route-id="@filme.Id" class="btn btn-info btn-sm">Detalhes</a>
                    <a asp-page="EditarFilme" asp-route-id="@filme.Id" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-page="ExcluirFilme" asp-page-handler="ExcluirFilme" asp-route-id="@filme.Id" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody> 
</table>
